<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap type="com.kh.member.model.vo.Member" id="memberResultMap">
		<id		property="memberId" 	column="MEMBER_ID"/>
		<result	property="memberPw" 	column="MEMBER_PW"/>
		<result	property="memberName" 	column="MEMBER_NAME"/>
		<result	property="gender" 		column="MEMBER_GENDER"/>
		<result	property="age" 			column="MEMBER_AGE"/>
		<result	property="email" 		column="MEMBER_EMAIL"/>
		<result	property="phone" 		column="MEMBER_PHONE"/>
		<result	property="address" 		column="MEMBER_ADDRESS"/>
		<result	property="hobby" 		column="MEMBER_HOBBY"/>
		<result	property="memberDate" 	column="MEMBER_DATE"/>
		<result	property="updateDate" 	column="UPDATE_DATE"/>
		<result	property="memberYn" 	column="MEMBER_YN"/>
	</resultMap>

	<insert id="insertMember">
		INSERT INTO MEMBER_TBL 
		VALUES(#{memberId}, #{memberPw},#{memberName},#{gender},#{age},#{email},#{phone},#{address},#{hobby},DEFAULT,DEFAULT,'Y')
	</insert>
 	
	<select id="selectCheckLogin" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId} AND MEMBER_PW = #{memberPw}
	</select>
 
 	<select id="selectOneById" resultMap="memberResultMap">
		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId}
	</select>
	<delete id="deleteMember">
		DELETE FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId}
	</delete>
	<update id="updateMember">
		UPDATE MEMBER_TBL
		SET MEMBER_PW = #{memberPw}, MEMBER_EMAIL = #{email}, MEMBER_PHONE =#{phone}, MEMBER_ADDRESS = #{address}, MEMBER_HOBBY = #{hobby} WHERE MEMBER_ID = #{memberId}
	</update>
</mapper>